.cover__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  z-index: 0;
  margin: 0;
  object-fit: contain;
  object-position: center;
}


.cover__link::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  transition: linear 0.5s;
  opacity: 0.3;
  background-color: #2A2C2F;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width:1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width:479px) {
  .cover__link {
    min-height: 200px;
  }
}