
.lead {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 100px 92px;
}

@media screen and (min-width: 769px) and (max-width:1024px){
    .lead{
        margin: 0 24px 92px;
    }
  }

  @media screen and (min-width: 321px) and (max-width:768px){
    .lead{
        margin: 0;
    }
  }

 @media screen and (max-width:320px){
    .lead{
        flex-direction: column;
        margin: 0;
    }
  }