.place__paragraphs{
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 0 auto 0;
  max-width: 484px;
}

@media screen and (max-width:768px) {
  .place__paragraphs {
    max-width: 352px;
    padding-top: 0;
  }
}

@media screen and (max-width:479px) {
  .place__paragraphs {
    max-width: 288px;
  }
}

