.lead__image {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
}

@media screen and (max-width:1024px) {
  .lead__image{
    max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .lead__image{
    max-width: 768px;
  }
}

@media screen and (max-width:479px) {
  .lead__image{
    max-width: 320px;
  }
}