.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    padding: 40px 0 33px;
    margin: 0;
    max-width: 690px;/* у меня такое ощущение что я это писал вчера. 
    Не знаю почему не сохранил. 
    Методом научного тыка(прошу прощения) идет моя учеба*/
}

@media screen and (max-width:768px) {
    .intro__text {
      max-width: 720px;
    }
}

@media screen and (max-width:479px) {
    .intro__text {
        max-width: 288px;
    }
}