.intro {
  display: flex;
  flex-direction: column;
  margin: 92px auto;
  max-width: 984px;
  
}

@media screen and (max-width:1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .intro {
    max-width: 768px;
    margin: 88px 0;
    padding: 0 24px;
  }
}

@media screen and (max-width:479px) {
  .intro {
    max-width: 320px;
    margin: 64px 0;
    padding: 0 16px;
  }
}
