
.cover{
    margin: 0 48px 0;
}

@media screen and (max-width:1084px){
  .cover{
    margin: 0;
  }
}

@media screen and (max-width:320px){
    .cover{
      width: fit-content;
      object-fit: contain;
      margin: 0;
    }
  }