
.cover__title{
    color: white;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto 0;
}

@media screen and (max-width:320px){
    .cover__title{
      font-size: 32px;
      line-height: 35px;
    }
  }  