
.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 48px 40px;
    margin-bottom: 80px;
}
.place:last-child{
    margin-bottom: 0px;
}

@media screen and(max-width:768px) and(min-width:321px){
    .place{
        gap: 28px 40px;
    }
  }

@media screen and (max-width:320px){
    .place{
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin: 0;
    }
  }