
.photo-grid__table{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: auto;
    list-style: none;
    gap: 16px 16px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 769px) and (max-width:1024px){
    .photo-grid__table{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 14px;
        margin: 0;
    }
  }

@media screen and (min-width: 321px) and (max-width:769px){
    .photo-grid__table{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 16px;
        margin: 0;
    }
  }

@media screen and (max-width:320px){
    .photo-grid__table{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 12px;
        margin: 0;
    }
  }